<!--================ Start Header Area ===============-->
<header class="header-area">
    <div >
        {{> index/header}}
    </div>
</header>
<!--================ End Header Area =================-->

<!--================ Start banner Area ===============-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">
       

    </div>
</section>
<!--================ End banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area section-gap single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="/uploads/{{blog.mainImage}}" style="width:730px; height:340px" alt="">
                    <a href="#">
                        <h4>{{blog.titleName}}</h4>
                    </a>
                    <div class="user_details">

                        <div class="float-right mt-sm-0 mt-3">
                            <div class="media">
                                <div class="media-body">
                                    <a href="/{{blog.owner.accountId.username}}">
                                        <h5>{{blog.owner.fullName}}</h5>
                                    </a>
                                    <p>{{moment blog.createdAt format ="MMMM DD - YYYY HH:mm"}}</p>
                                </div>
                                <div class="d-flex">
                                    <a href="/{{blog.owner.accountId.username}}">
                                        <img src="/uploads/{{blog.owner.avatar}}" style="width:40px; height:40px"
                                            alt="{{blog.owner.fullName}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blogContent">
                        {{blog.blogContent}}
                    </div>


                </div>

                
               
            </div>

            <!-- Start Blog Post Sidebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">

                    {{> index/categories}}
                    {{> index/relatedBlog}}
                    {{> index/tags}}

                </div>
            </div>
            <!-- End Blog Post Sidebar -->
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<!--================ Start Footer Area =================-->
{{> index/indexFooter}}
<!--================ End Footer Area ===================-->

<script>
    $(document).ready(function () {
        $("#blogContent").html($("#blogContent").text())
    })
</script>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0"
    nonce="IB0aDEIx"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<iframe
    src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId"
    width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>