<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> manager/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.form">List</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="/managers/allRequest">
                                    <span class="pcoded-micon" style="background-color: lightgray;"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">List requests</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                        </ul>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card"style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">

                                                    <div class="d-inline">
                                                        <h4>All Request in 
                                                            {{managerInfo.categoryId.name}}</h4>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-block">
                                                    <form action="/managers/searchRequest" method="GET">
                                                        <div class="form-group row">
                                                            <div class="col-sm-5">
                                                                <h6>Time Request From</h6>
                                                                <input type="date" name="timeFrom" class="form-control"
                                                                    placeholder="col" />
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <h6>Time Request To</h6>
                                                                <input type="date" name="timeTo" class="form-control"
                                                                    placeholder="col-sm-4" />
                                                            </div>
                                                            <div class="col text-right" style="    display: flex; align-items: flex-end;">
                                                                <button
                                                                    class="btn ">Search</button>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <!-- Tab variant tab card start -->
                                            <div class="card">
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Account</th>
                                                                    <th scope="col">Full Name</th>
                                                                    <th scope="col">Title</th>
                                                                    <th scope="col">status</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{#each userBlog}}
                                                                <tr>
                                                                    <td>{{owner.accountId.username}}</td>
                                                                    <td>{{owner.fullName}}</td>
                                                                    <td><a
                                                                            href="/managers/blogDetails/{{_id}}">{{titleName}}</a>
                                                                    </td>
                                                                    {{#equals isPublish 'Approved'}}
                                                                    <td><span
                                                                            class="label bg-c-green m-l-10 f-10">{{isPublish}}</span>
                                                                    </td>
                                                                    {{else equals isPublish 'Rejected'}}
                                                                    <td><span
                                                                            class="label bg-c-pink m-l-10">{{isPublish}}</span>
                                                                    </td>
                                                                    {{else}}
                                                                    <td><span
                                                                            class="label bg-inverse m-l-10">{{isPublish}}</span>
                                                                    </td>
                                                                    {{/equals}}
                                                                    <td class="d-flex flex-row">

                                                                        {{#equals isPublish "Approved"}}

                                                                        <button
                                                                            class="btn btn-outline-success btn-round disabled">Approve</button>

                                                                        {{else}}
                                                                        <form action="/managers/approveBlog"
                                                                            method="POST"
                                                                            enctype="application/x-www-form-urlencoded">
                                                                            <input type="hidden" name="blogId"
                                                                                value={{_id}}>
                                                                            <input type="hidden" name="_method"
                                                                                value="PATCH">
                                                                            <button type="submit"
                                                                                class="btn btn-outline-success btn-round">Approve</button>
                                                                        </form>
                                                                        {{/equals}}

                                                                        {{#equals isPublish "Rejected"}}
                                                                        <button type="submit"
                                                                            class="btn btn-outline-danger btn-round disabled"
                                                                            style="margin-left: 5px;">Reject</button>
                                                                        {{else}}

                                                                        <form action="/managers/rejectBlog"
                                                                            method="POST"
                                                                            enctype="application/x-www-form-urlencoded">
                                                                            <input type="hidden" name="blogId"
                                                                                value={{_id}}>
                                                                            <input type="hidden" name="_method"
                                                                                value="PATCH">
                                                                            <button type="submit"
                                                                                class="btn btn-outline-danger btn-round"
                                                                                style="margin-left: 5px;">Reject</button>
                                                                        </form>
                                                                        {{/equals}}

                                                                    </td>
                                                                    {{else}}
                                                                    <td colspan="7">
                                                                        <div class="alert alert-primary" role="alert">
                                                                            There isn't any content !!!
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                {{!-- end table card --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>