<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> manager/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.form">List</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="/managers/allRequest">
                                    <span class="pcoded-micon" style="background-color: lightgray;"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">List requests</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                           
                        </ul>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card" style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Update Manager Information</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="col" style="display: flex;flex-direction: column;align-items: center;">
                                          <div class="col-sm-6">

                                            <div class="card" style="border-radius: 50px;">
                                                <div class="card-block tab-icon">
                                                    <form action="/managers/updateInfo" method="POST"
                                                        enctype="application/x-www-form-urlencoded">

                                                        <div class="form-group">
                                                             <span
                                                                    class="changeStyle">{{managerInfo.fullName}}</span>
                                                            
                                                            <input type="text" class="form-control" id="fullName"
                                                                name="fullName" placeholder="Enter your name here"
                                                                onfocus="this.placeholder = ''"
                                                                onblur="this.placeholder = 'Enter your name here'">
                                                        </div>
                                                        <div class="form-group">
                                                             <span
                                                                    class="changeStyle">{{managerInfo.email}}</span>
                                                           
                                                            <input type="email" class="form-control" id="email"
                                                                name="email" placeholder="Enter your email here"
                                                                onfocus="this.placeholder = ''"
                                                                onblur="this.placeholder = 'Enter your email here'">
                                                        </div>

                                                        <div class="form-group">
                                                             <span
                                                                    class="changeStyle">{{moment
                                                                    managerInfo.DoB
                                                                    format
                                                                    ="DD MMMM - YYYY"}}</span>
                                                           
                                                            <input type="date" class="form-control" id="DoB" name="DoB">
                                                        </div>

                                                        <input type="hidden" name="_method" value="PUT">
                                                        <input type="hidden" name="accId" value="{{managerInfo._id}}">

                                                        {{#if infoError}}
                                                        <div class="alert alert-danger" role="alert"
                                                            style="width: auto;">
                                                            {{infoError}}
                                                        </div>
                                                        {{else if infoSucceed}}
                                                        <div class="alert alert-success" role="alert"
                                                            style="width: auto;">
                                                            {{infoSucceed}}
                                                        </div>
                                                        {{/if}}

                                                        <button type="submit" class="btn" style="border-radius: 50px; float:right;"
                                                            id="submit_acc">Submit</button>
                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Tab variant tab card start -->
                                            <div class="card" style="border-radius: 50px;">
                                                <div class="card-block tab-icon">

                                                    <div class="form-group">
                                                        <label for="usr">Username: <span
                                                                class="changeStyle">{{managerAcc.username}}</span></label>

                                                    </div>
                                                    <form action="/managers/updateAcc" method="POST"
                                                        enctype="application/x-www-form-urlencoded">

                                                        <div class="form-group">
                                                            <label for="pwd">Password</label>
                                                            <div class="input-group mb-3">

                                                                <input type="password" class="form-control" id="pwd"
                                                                    placeholder="Enter new Password"
                                                                    onfocus="this.placeholder = ''"
                                                                    onblur="this.placeholder = 'Enter new Password'"
                                                                    name="password" onkeyup="check();">
                                                             <div class="input-group-append">
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="repwd">Re-enter Password</label>
                                                            <div class="input-group mb-3">
                                                                <input type="password" class="form-control" id="rePwd"
                                                                    placeholder="Re-enter Password"
                                                                    onfocus="this.placeholder = ''"
                                                                    onblur="this.placeholder = 'Re-enter Password'"
                                                                    name="repwd" onkeyup="check();">
                                                                    <div class="input-group-append">
                                                                    
                                                                </div>
                                                              
                                                            </div>
                                                            <span id="message"></span>
                                                        </div>
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <input type="hidden" name="accId" value="{{managerAcc._id}}">
                                                        {{#if accError}}
                                                        <div class="alert alert-danger" role="alert"
                                                            style="width: auto;">
                                                            {{accError}}
                                                        </div>
                                                        {{else if accSucceed}}
                                                        <div class="alert alert-success" role="alert"
                                                            style="width: auto;">
                                                            {{accSucceed}}
                                                        </div>
                                                        {{/if}}
                                                        <button type="submit" class="btn " style="border-radius: 50px; float:right;"
                                                            id="submit_acc">Submit</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>

                            </div>

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>