<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> admin/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">

                                        <a href="/auth/logout">
                                            <i class="ti-layout-sidebar-left"></i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">List Account</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layout-grid2-alt" ></i></span>
                                    <span class="" data-i18n="nav.basic-components.main">Accounts</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="/admin/allUserAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="" data-i18n="nav.basic-components.alert">User
                                                Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="/admin/allManagerAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class=""
                                                data-i18n="nav.basic-components.breadcrumbs">Manager Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"> Categories and Tags</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a href="/admin/allCategories">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Categories</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/admin/allTags">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Tags</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>>

                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card" style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
               
                                                    <div class="d-inline">
                                                        <h4>User Accounts</h4>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
   
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-block">

                                                    <form action="/admin/searchUser" method="GET">
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <h6>Time Request From</h6>
                                                                <input type="date" id="timeFrom" name="timeFrom"
                                                                    class="form-control" placeholder="col" />
                                                            </div>
                                                            <div class="col">
                                                                <h6>Time Request To</h6>
                                                                <input type="date" id="timeTo" name="timeTo"
                                                                    class="form-control" placeholder="col-sm-4"
                                                                    value="" />
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <h6>Username</h6>
                                                                <select class="selectpicker form-control"
                                                                    name="username" data-live-search="true" multiple>
                                                                    {{#each userAcc}}
                                                                    <option value="{{_id}}">{{username}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col text-left">
                                                                <button
                                                                    class="btn">Search</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <!-- Tab variant tab card start -->
                                            <div class="card add-task-card">
                                                <div class="card-header">

                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead style="background-color: lightgray;">
                                                                <tr>
                                                                    <th scope="col">Number</th>
                                                                    <th scope="col">Email</th>
                                                                    <th scope="col">Full name</th>
                                                                    <th scope="col">Username</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listUser">
                                                                {{#each users}}
                                                                <tr>
                                                                    <th scope="row">{{@index}}</th>
                                                                    <td>{{email}}</td>
                                                                    <td>{{fullName}}</td>
                                                                    <td>{{accountId.username}}</td>
                                                                    <td class="d-flex flex-row">
                                                                        <button
                                                                            class="btn "
                                                                            title="Update" data-toggle="tooltip"
                                                                            data-placement="top"
                                                                            onclick="window.location='/admin/updateUser/{{_id}}'"
                                                                            style="margin-right: 5px;">
                                                                            <i class="ti-pencil-alt"></i>
                                                                        </button>

                                                                        <button id="{{accountId._id}}"
                                                                            class="btn btn-danger  btn-deleteUser"
                                                                            title="Delete" data-toggle="tooltip">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                    {{else}}
                                                                    <td colspan="7">
                                                                        <div class="alert alert-primary" role="alert">
                                                                            No Data
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                        {{#if timeFrom}}
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-end"
                                                                style="margin: 10px 15px;">
                                                                {{#paginate pagination type="first"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/searchUser?timeFrom={{../timeFrom}}&timeTo={{../timeTo}}&p={{n}}">First</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="previous"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/searchUser?timeFrom={{../timeFrom}}&timeTo={{../timeTo}}&p={{n}}">Previous</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="middle" limit="7"}}
                                                                <li {{#if active}}class="page-item active" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/searchUser?timeFrom={{../timeFrom}}&timeTo={{../timeTo}}&p={{n}}">{{n}}</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="next"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/searchUser?timeFrom={{../timeFrom}}&timeTo={{../timeTo}}&p={{n}}">Next</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="last"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/searchUser?timeFrom={{../timeFrom}}&timeTo={{../timeTo}}&p={{n}}">Last</a>
                                                                </li>
                                                                {{/paginate}}
                                                            </ul>
                                                        </nav>
                                                        {{else}}
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-end"
                                                                style="margin: 10px 15px;">
                                                                {{#paginate pagination type="first"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allUserAcc?p={{n}}">First</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="previous"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allUserAcc?p={{n}}">Previous</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="middle" limit="7"}}
                                                                <li {{#if active}}class="page-item active" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allUserAcc?p={{n}}">{{n}}</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="next"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allUserAcc?p={{n}}">Next</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="last"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allUserAcc?p={{n}}">Last</a>
                                                                </li>
                                                                {{/paginate}}
                                                            </ul>
                                                        </nav>
                                                        {{/if}}
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Tab variant tab card start -->
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!--
<script>
    Date.prototype.currentDate = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });

    $(document).ready(function () {
        var date = new Date();
        $('#timeFrom').val(new Date().currentDate());
        $('#timeTo').val(new Date().currentDate());
    });
</script> --}}