<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> admin/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">

                                        <a href="/auth/logout">
                                            <i class="ti-layout-sidebar-left"></i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">List Account</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layout-grid2-alt" ></i></span>
                                    <span class="" data-i18n="nav.basic-components.main">Accounts</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="/admin/allUserAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="" data-i18n="nav.basic-components.alert">User
                                                Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="/admin/allManagerAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class=""
                                                data-i18n="nav.basic-components.breadcrumbs">Manager Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"> Categories and Tags</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a href="/admin/allCategories">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Categories</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/admin/allTags">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Tags</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>>

                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card" style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>List Category</h4>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Tab variant tab card start -->
                                            <div class="card add-task-card">
                                                <div class="card-header">
                                                    <div class="card-header-left">
                                                        <button type="button" class="btn "
                                                            data-toggle="modal" data-target="#exampleModal">
                                                            Add Category
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content" style="border-radius: 50px;">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">New
                                                                    Category</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="/admin/addOneCategory" method="POST"
                                                                class="needs-validation" novalidate>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label for="name">Name</label>

                                                                        {{#if err}}
                                                                        <input type="text"
                                                                            class="form-control is-invalid" id="name"
                                                                            name="name"
                                                                            placeholder="Enter category Name" required>
                                                                        <div class="invalid-feedback">
                                                                            {{err}}
                                                                        </div>
                                                                        {{else}}
                                                                        <input type="text" class="form-control"
                                                                            id="name" name="name"
                                                                            placeholder="Enter category Name" required>
                                                                        <div class="invalid-feedback">
                                                                            Please enter
                                                                        </div>
                                                                        {{/if}}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputDesc">Managed By</label>
                                                                        <select class="form-control" name="managerId">
                                                                            {{#each managers}}
                                                                            <option value="{{_id}}">
                                                                                {{fullName}}
                                                                            </option>
                                                                            {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputDesc">Description</label>
                                                                        <textarea class="form-control" id="desc"
                                                                            name="describe" rows="3"
                                                                            placeholder="Description">
                                                                </textarea>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn " style="border-radius: 50px;"
                                                                        data-dismiss="modal">Close</button>
                                                                    <button type="submit"
                                                                        class="btn " style="border-radius: 50px;">Add</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead style="background-color: lightgray;">
                                                                <tr>
                                                                    <th scope="col">Number</th>
                                                                    <th scope="col">Category name</th>
                                                                    <th scope="col">Description</th>
                                                                    <th scope="col">Managed By</th>

                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listCategory">
                                                                {{#each categories}}
                                                                <tr>
                                                                    <td>{{@index}}</td>
                                                                    <td>{{name}}</td>
                                                                    <td>{{describe}}</td>
                                                                    <td>{{managedBy.fullName}}</td>

                                                                    <td class="d-flex flex-row">
                                                                        <button
                                                                            class="btn "
                                                                            title="Update" data-toggle="tooltip"
                                                                            onclick="window.location='/admin/updateCategory/{{_id}}'"
                                                                            style="margin-right: 5px;">
                                                                            <i class="ti-pencil-alt"></i>
                                                                        </button>

                                                                        <button id="{{_id}}"
                                                                            class="btn btn-danger btn-deleteCategory"
                                                                            title="Delete" data-toggle="tooltip">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                    {{else}}
                                                                    <td colspan="7">
                                                                        <div class="alert alert-primary" role="alert">
                                                                            No Data
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-end" style="margin: 10px 15px;">
                                                                {{#paginate pagination type="first"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allCategories?p={{n}}">First</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="previous"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link" href="/admin/allCategories?p={{n}}">Previous</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="middle" limit="7"}}
                                                                <li {{#if active}}class="page-item active" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allCategories?p={{n}}">{{n}}</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="next"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allCategories?p={{n}}">Next</a>
                                                                </li>
                                                                {{/paginate}}
                                                                {{#paginate pagination type="last"}}
                                                                <li {{#if disabled}}class="page-item disabled" {{/if}}>
                                                                    <a class="page-link"
                                                                        href="/admin/allCategories?p={{n}}">Last</a>
                                                                </li>
                                                                {{/paginate}}
                                                            </ul>
                                                        </nav>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Tab variant tab card start -->
                                        </div>
                                    </div>
                                </div>

                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>