<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> admin/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                   <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">

                                        <a href="/auth/logout">
                                            <i class="ti-layout-sidebar-left"></i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">List Account</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layout-grid2-alt" ></i></span>
                                    <span class="" data-i18n="nav.basic-components.main">Accounts</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="/admin/allUserAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="" data-i18n="nav.basic-components.alert">User
                                                Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="/admin/allManagerAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class=""
                                                data-i18n="nav.basic-components.breadcrumbs">Manager Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"> Categories and Tags</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a href="/admin/allCategories">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Categories</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/admin/allTags">
                                    <span class="pcoded-micon" style="background-color: gray;"><i class="ti-layers" style="background-color: white;"></i><b>FC</b></span>
                                    <span class="" data-i18n="nav.form-components.main">
                                        Tags</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>>

                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card" style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Update Manager Information</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row" style="justify-content: space-around;">
                                        <div class="col-sm-6">
                                            <!-- Tab variant tab card start -->

                                            <div class="card" style="border-radius: 50px;">
                                                <div class="card-block">

                                                    <form action="/admin/updateManagerAcc" method="POST"
                                                        enctype="application/x-www-form-urlencoded">
                                                        {{#if notify.success}}
                                                        <div class="alert " role="alert"
                                                            style="width: auto; text-align: center; color:green;">
                                                            {{notify.success}}
                                                        </div>
                                                        {{/if}}
                                                        <div class="form-group">
                                                            <label for="name">Fullname: <span class="changeStyle"
                                                                    >{{data.managerInfo.fullName}}</span></label>
                                                            
                                                            <input type="text" class="form-control" id="fullName"
                                                                name="fullName" placeholder="Enter new manager name here">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Email: <span class="changeStyle"
                                                                    >{{data.managerInfo.email}}</span></label>
                                                            
                                                            {{#if notify.error}}
                                                            <input type="text" class="form-control form-control-danger"
                                                                id="inputDanger1" name="email"
                                                                placeholder="Enter new email address here" />
                                                            <div class="col-form-label text-danger">
                                                                {{notify.error}}
                                                            </div>
                                                            {{else}}
                                                            <input type="email" class="form-control" id="email"
                                                                name="email" placeholder="Enter new email address here">
                                                            {{/if}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Date of birth: <span class="changeStyle"
                                                                    >{{moment data.managerInfo.DoB
                                                                    format ="MMMM DD - YYYY"}}</span></label>
                                                            
                                                            <input type="date" class="form-control" id="DoB" name="DoB">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Responsible for: <span class="changeStyle"
                                                                    >{{data.managerInfo.categoryId.name}}</span></label>
                                                            
                                                            <select class="form-control" name="categoryId">
                                                                {{#each data.category}}
                                                                <option value="{{_id}}" selected>
                                                                    {{name}}
                                                                </option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <input type="hidden" name="_id" value="{{data._id}}">


                                                        <button type="submit" class="btn "style="border-radius: 50px;"
                                                            id="submit_info">Update</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>



                                        <!-- Tab variant tab card start -->
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>