<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> admin/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-40 img-radius" src="/assets/images/avatar-4.jpg"
                                    alt="User-Profile-Image" />
                                <div class="user-details">
                                    <span>{{admin.username}}</span>
                                    <span id="more-details">See More<i class="ti-angle-down"></i></span>
                                </div>
                            </div>

                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">

                                        <a href="/auth/logout">
                                            <i class="ti-layout-sidebar-left"></i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Main</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="/admin/home">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">List of Account</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu active pcoded-trigger">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Accounts</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="active">
                                        <a href="/admin/allUserAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">User
                                                Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="/admin/allManagerAcc">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext"
                                                data-i18n="nav.basic-components.breadcrumbs">Manager Account</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Manage Categories</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a href="/admin/allCategories">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">List of
                                        Categories</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/admin/allTags">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">List of
                                        Tags</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-table bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Update User Information</h4>
                                                        <span>Update User Accounts</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item">
                                                            <a href="/admin/home">
                                                                <i class="icofont icofont-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">User Account</a>
                                                        </li>
                                                        <li class="breadcrumb-item">
                                                            <a href="#!">Update user Account</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Tab variant tab card start -->

                                            <div class="card">
                                                <div class="card-block">
                                                    <h3 class="sub-title">Change Student Information
                                                    </h3>
                                                    <form action="/admin/updateUserAcc" method="POST"
                                                        enctype="application/x-www-form-urlencoded"
                                                        class="needs-validation" novalidate>
                                                        {{#if notify.success}}
                                                        <div class="alert alert-success" role="alert"
                                                            style="width: auto;">
                                                            {{notify.success}}
                                                        </div>
                                                        {{/if}}
                                                        <div class="form-group">
                                                            <label for="name">Name: <span
                                                                    class="changeStyle">{{data.userInfo.fullName}}</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="fullName"
                                                                name="fullName" placeholder="Please enter a full name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Email: <span
                                                                    class="changeStyle">{{data.userInfo.email}}</span>
                                                            </label>
                                                            {{#if notify.error}}
                                                            <input type="text" class="form-control is-invalid"
                                                                id="inputDanger1" name="email"
                                                                placeholder="Please enter a valid email, eg: example@example.com" />
                                                            <div class="invalid-feedback">
                                                                {{notify.error}}
                                                            </div>
                                                            {{else}}
                                                            <input type="email" class="form-control" id="email"
                                                                name="email"
                                                                placeholder="Please enter a valid email, eg: example@example.com">
                                                            {{/if}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Date of Birth: <span
                                                                    class="changeStyle">{{moment data.userInfo.DoB
                                                                    format ="MMMM DD - YYYY"}}</span>
                                                            </label>
                                                            <input type="date" class="form-control" id="DoB" name="DoB">
                                                        </div>
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <input type="hidden" name="_id" value="{{data._id}}">



                                                        <button type="submit" class="btn btn-primary"
                                                            id="submit_info">Update</button>
                                                    </form>
                                                </div>
                                            </div>


                                        </div>

                                        <!-- Tab variant tab card start -->
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>