<!--================ Start Header Area ===============-->
<header class="header-area">
    <div class="">
        {{> user/header}}
    </div>
</header>
<!--================ End Header Area =================-->

<!--================ Start banner Area =================-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">

    </div>
</section>
<!--================ End banner Area =================-->

<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-gap relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    {{#each blogs}}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-amenities"style="border: 1px solid lightgray;">
                            <div class="amenities-thumb">
                                <a href="/users/blogDetail/{{_id}}">
                                    <img class="img-fluid w-100" src="/uploads/{{mainImage}}" alt="" />
                                </a>
                            </div>
                            <div class="amenities-details">
                                <h5>
                                    <a href="/users/blogDetail/{{_id}}">{{titleName}}</a>
                                </h5>
                                <div class="amenities-meta mb-10">
                                    <a href="#" class="">{{moment createdAt format ="DD
                                        MMMM, YYYY"}}</a>
                                </div>
                                <p>Read more: {{brief}}</p>

                                <div class="d-flex justify-content-between mt-20">
                                    <div class="category">
                                        <a href="/users/blogByCategory/{{categoryId._id}}">
                                            <span >Category: </span> {{categoryId.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{else}}
                    <div class="col-md-12">
                        <div class="alert alert-primary" role="alert" style="text-align: center;">
                            There is no content available
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {{#if search}}
                        {{> user/searchPagination}}
                        {{else}}
                        {{> user/pagination}}
                        {{/if}}
                    </div>
                </div>
            </div>

            <!-- Start Blog Post Sidebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    {{> user/searchSidebar}}
                    {{> user/popularBlog}}
                    {{> user/categories}}
                    {{> user/tags}}
                </div>
            </div>

            <!-- End Blog Post Sidebar -->
        </div>
    </div>
</section>
<!--================ End Blog Post Area ================-->

<!--================ Start Footer Area =================-->
{{> index/indexFooter}}
<!--================ End Footer Area ===================-->