<!--================ Start Header Area ===============-->
<header class="header-area">
    <div class="container">
        {{> user/header}}
    </div>
</header>
<!--================ End Header Area =================-->

<!--================ Start banner Area ===============-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">
        <h1>List of My Bookmark Blogs</h1>
        <p>Elementum libero hac leo integer. Risus hac parturient feugiat litora <br /> cursus hendrerit bibendum per
        </p>
    </div>
</section>
<!--================ End banner Area =================-->

<!--================Blog Area =================-->
<section class="sample-text-area">
    <div class="container">

        <div class="card-block" style="margin-bottom: 15px">
            <h3 class="text-heading">Search</h3>
            <form action="/users/searchBookmark" method="GET">
                <div class="form-group row">
                    <div class="col">
                        <h6>Time From</h6>
                        <input type="date" id="timeFrom" name="timeFrom" class="form-control" placeholder="col" />
                    </div>
                    <div class="col">
                        <h6>Time To</h6>
                        <input type="date" id="timeTo" name="timeTo" class="form-control" placeholder="col-sm-4"
                            value="" />
                    </div>

                    {{!-- <div class="col">
                        <h6>Title Blog</h6>
                        <input type="text" name="titleName" class="form-control"
                            placeholder="Type name of Blog to find..." />
                    </div> --}}
                    {{!-- <div class="col">
                        <h6>Category</h6>
                        <select class="form-control" name="categoryId">
                            <option selected>Open this select Category</option>
                            {{#each categories}}
                            <option value="{{_id}}">
                                {{name}}
                            </option>
                            {{/each}}
                        </select>
                    </div> --}}

                </div>
                <div class="row">
                    <div class="col text-right">
                        <button class="btn btn-primary btn-square">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <h3 class="text-heading">My Bookmarks</h3>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Blog image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Brief</th>
                            <th scope="col">Bookmark At</th>
                            <th scope="col">Category</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="listBookmark">
                        {{#each bookmarks}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td style="width: 250px; height:170px">
                                <a href="/users/blogDetail/{{postId._id}}"><img
                                        style="max-width: 100%;height: auto;width: auto;"
                                        src="/uploads/{{postId.mainImage}}" alt="BlogImage" /></a>
                            </td>
                            <td><a href="/users/blogDetail/{{postId._id}}">{{postId.titleName}}</a></td>
                            <td>{{postId.owner.fullName}}</td>
                            <td>{{postId.brief}}</td>
                            <td>{{moment createdAt format ="MMMM DD - YYYY"}}</td>
                            <td>{{postId.categoryId.name}}</td>
                            <td class="d-flex flex-row">
                                <button class="btn btn-info btn-outline-info"
                                    onclick="window.location='/users/blogDetail/{{postId._id}}'"
                                    style="margin-right: 5px;">
                                    <i class="ti-eye"></i>
                                </button>

                                <button id="{{postId._id}}"
                                    class="btn btn-danger btn-outline-danger btn-deleteBookmark">
                                    <i class="ti-trash"></i>
                                </button>
                            </td>
                            {{else}}
                            <td colspan="9">
                                <div class="alert alert-primary" role="alert">
                                    No Data
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}>
                            <a href="/users/myBookmark?p={{n}}" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="ti-shift-left"></span>
                                </span>
                            </a>
                        </li>
                        {{/paginate}}
                        {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}>
                            <a href="/users/myBookmark/?p={{n}}" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {{/paginate}}
                        {{#paginate pagination type="middle" limit="7"}}
                        <li {{#if active}}class="page-item active" {{/if}}>
                            <a href="/users/myBookmark/?p={{n}}" class="page-link">{{n}}</a>
                        </li>
                        {{/paginate}}
                        {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}>
                            <a href="/users/myBookmark/?p={{n}}" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {{/paginate}}
                        {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}>
                            <a href="/users/myBookmark/?p={{n}}" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="ti-shift-right"></span>
                                </span>
                            </a>
                        </li>
                        {{/paginate}}
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</section>
<!--================Blog Area =================-->

<!--================ Start Footer Area =================-->
{{> index/indexFooter}}
<!--================ End Footer Area ===================-->

<script src="/javascripts/ajax/ajaxDelBookmark.js"></script>