<!--================ Start Header Area ===============-->
<header class="header-area">
    <div class="container">
        {{> user/header}}
    </div>
</header>
<!--================ End Header Area =================-->

<!--================ Start banner Area ===============-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">
        <h1>Update Blog Information</h1>
        <p>Elementum libero hac leo integer. Risus hac parturient feugiat litora <br /> cursus hendrerit bibendum per
        </p>
    </div>
</section>
<!--================ End banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area section-gap single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="/users/updateOneBlog" method="POST" enctype="multipart/form-data">
                    <h3 class="mb-30">Update Blog Information</h3>

                    <div class="form-group">
                        <label for="username">Blog title: <span class="changeStyle">{{blog.titleName}}</span></label>
                        <input type="text" class="form-control" id="titleName" name="titleName" placeholder="titleName">
                    </div>

                    <div class="form-group">
                        <label for="username">Select Category: <span
                                class="changeStyle">{{blog.categoryId.name}}</span></label>
                        <select class="form-control" name="categoryId">
                            <option value="{{blog.categoryId._id}}" selected> --- {{blog.categoryId.name}} ---
                            </option>
                            {{#each categories}}
                            <option value="{{_id}}">
                                {{name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Select Tag</label>
                                <select class="selectpicker form-control" name="tagId" data-live-search="true" multiple
                                    required>
                                    {{#each tags}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="">List of tag</label>
                            <ul class="list-group" id="listTag" style="overflow: scroll; max-height:300px">
                                {{#each findPostTag}}
                                <li class="list-group-item d-flex justify-content-between">
                                    <p>{{name}}</p>
                                    <button id="{{_id}}"
                                        class="btn btn-danger btn-round btn-outline-danger btn-deleteTagBlog"
                                        title="Delete" data-toggle="tooltip">
                                        <i class="ti-trash"></i>
                                        <input type="hidden" id="post_id" value="{{../blog._id}}">
                                    </button>
                                </li>
                                {{else}}
                                <li class="list-group-item">
                                    <div class="alert alert-info" role="alert">
                                        No Data
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputName">brief:</label>
                        <textarea type="text" class="form-control" rows="3" id="brief" name="brief"
                            placeholder="{{blog.brief}}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="inputName">Main Content:</label>
                        <textarea name="blogContent" id="editor1" rows="10" cols="20">{{blog.blogContent}}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Main Image: You can upload image for your blog</label><br>
                        <img src="/uploads/{{blog.mainImage}}" id="imgShow" alt="" style="max-width:180px">
                        <hr>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="imgLoad"
                                    aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="_id" value="{{blog._id}}">

                    {{#if err}}
                    <div class="alert alert-danger" role="alert">
                        {{err}}
                    </div>
                    {{/if}}

                    <button type="submit" class="btn btn-primary" id="submit_info">Submit</button>

                </form>
            </div>
            <!-- Start Blog Post Sidebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    {{> user/bioProfile}}
                    {{> user/categories}}
                    {{> user/popularBlog}}
                    {{> user/tags}}
                </div>
            </div>

            <!-- End Blog Post Sidebar -->

        </div>
    </div>
</section>
<!--================Blog Area =================-->

<!--================ Start Footer Area =================-->
{{> index/indexFooter}}
<!--================ End Footer Area ===================-->

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('editor1', {
        extraPlugins: 'filebrowser',
        filebrowserBrowseUrl: '/list',//upload location
        filebrowserUploadMethod: 'form',
        filebrowserUploadUrl: '/upload'//route;
    })
</script>

<script>
    $('document').ready(function () {
        $("#imgLoad").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgShow').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    });
</script>