<!--================ Start Header Area ===============-->
<header class="header-area">
    <div >
        {{> user/header}}
    </div>
</header>
<!--================ End Header Area =================-->

<!--================ Start banner Area ===============-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">

    </div>
</section>
<!--================ End banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area section-gap single-post-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/users/uploadOneBlog" method="POST" enctype="multipart/form-data" class="needs-validation"
                    novalidate>
                    <h3 class="mb-30">Upload New Article</h3>

                    <div class="form-group">
                        <h5 for="" >Title</h5>
                        <input type="text" class="form-control" id="titleName" name="titleName"
                            placeholder="Enter title" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter title '" class="single-input" required>
                        <div class="invalid-feedback">
                            Please enter title 
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 for="">Select Category</h5>
                        <select class="form-control" id="category" name="_id" required>
                            <option value="">Category</option>
                            {{#each categories}}
                            <option value="{{_id}}">
                                {{name}}
                            </option>
                            {{/each}}
                        </select>
                        <div class="invalid-feedback">Please choose category</div>
                    </div>

                    <div class="form-group">
                        <h5 for="">Create a new Tag</h5>
                        <input type="text" class="form-control" id="titleName" name="tagName"
                            placeholder="Create a new tag" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Create a new tag'" class="single-input">
                    </div>
                    <span>OR</span>
                    <br>
                    <div class="form-group">
                        <h5 for="">Select a Tag</h5>
                        <select class="selectpicker form-control" name="tagId" data-live-search="true" multiple>
                            {{#each tags}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>



                    <div class="form-group">
                        <h5 for="inputName">Brief</h5>
                        <textarea type="text" class="form-control" id="brief" rows="3" id="brief" name="brief"
                            placeholder="Enter brief ..."></textarea>
                    </div>

                    <div class="form-group">
                        <h5 for="inputName">Main Content of Article</h5>
                        <textarea name="blogContent" id="editor1" rows="10" cols="20"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Upload image for article</label><br>
                        <img src="" id="imgShow" alt="" style="max-width:180px">
                        <hr>
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="imgLoad"
                                aria-describedby="inputGroupFileAddon01" required>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                        <div class="invalid-feedback">Please choose a file</div>
                    </div>

                    {{#if err}}
                    <div class="alert alert-danger" role="alert">
                        {{err}}
                    </div>
                    {{/if}}

                    <button type="submit" class="genric-btn circle" id="submit_info" style="float: right;">Submit</button>

                </form>
            </div>
            <!-- Start Blog Post Sidebar -->
            

            <!-- End Blog Post Sidebar -->

        </div>
    </div>
</section>
<!--================Blog Area =================-->

<!--================ Start Footer Area =================-->
{{> index/indexFooter}}
<!--================ End Footer Area ===================-->

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('editor1', {
        extraPlugins: 'filebrowser',
        filebrowserBrowseUrl: '/list',//upload location
        filebrowserUploadMethod: 'form',
        filebrowserUploadUrl: '/upload'//route;
    })
</script>

<script>
    $('document').ready(function () {
        $("#imgLoad").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgShow').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    });
</script>