<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        {{#paginate pagination type="first"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a href="/users/searchBlog?search={{../search}}&?p={{n}}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="ti-shift-left"></span>
                </span>
            </a>
        </li>
        {{/paginate}}
        {{#paginate pagination type="previous"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a href="/users/searchBlog?search={{../search}}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="ti-arrow-left"></span>
                </span>
            </a>
        </li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="7"}}
        <li {{#if active}}class="page-item active" {{/if}}>
            <a href="/users/searchBlog?search={{../search}}&?p={{n}}" class="page-link">{{n}}</a>
        </li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a href="/users/searchBlog?search={{../search}}&?p={{n}}" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="ti-arrow-right"></span>
                </span>
            </a>
        </li>
        {{/paginate}}
        {{#paginate pagination type="last"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a href="/users/searchBlog?search={{../search}}&?p={{n}}" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="ti-shift-right"></span>
                </span>
            </a>
        </li>
        {{/paginate}}
    </ul>
</nav>